# Phyton Basics

Hier möchten wir uns in die Grundlagen von Phyton einfinden. (Markdown)

In [1]:
print ("Hello world!")

Hello world!

In [2]:
# Dies ist ein Kommentar und wird nicht ausgeführt
print("Something")

Something

## Einfache Datentypen

In [5]:
# Variablen und Wertezuweisung
name = "LoveLace"
print (name)

LoveLace

In [6]:
# Strings 
first_name = "Ada"
print(first_name)

Ada

In [7]:
first_name

'Ada'

In [8]:
name 
first_name

'Ada'

In [9]:
# Intergers - Ganzzahlen
age = 73
print (age)

73

In [10]:
# Floats - Gleichkommazahlen
size = 1.7123
print (size)

1.7123

In [13]:
# Boolean - Boolsche Werte
knows_math = True 
likes_gardening = False
print(knows_math)
print(likes_gardening)

True
False

In [14]:
type(likes_gardening)

bool

In [15]:
type(size)

float

In [17]:
type(age)

int

## Operatoren

In [18]:
5 + 5

10

In [19]:
10 * 5

50

In [20]:
age * 100

7300

In [21]:
name + name

'LoveLaceLoveLace'

In [23]:
name * 10

'LoveLaceLoveLaceLoveLaceLoveLaceLoveLaceLoveLaceLoveLaceLoveLaceLoveLaceLoveLace'

In [24]:
name + age

TypeError: can only concatenate str (not "int") to str

In [25]:
# Type conversion
str(age)

'73'

In [26]:
name + str(age)

'LoveLace73'

In [27]:
size / age

0.023456164383561642

In [28]:
name / age

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [31]:
name_of_articles = "50" # durch Anführungszeichen ein String

In [33]:
name_of_articles / 10

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [34]:
int(name_of_articles)/ 10

5.0

## Funktionen und Methoden nutzen

In [36]:
len(name) #Länge des Inhaltes

8

In [37]:
len(age)

TypeError: object of type 'int' has no len()

In [39]:
name.upper() #Alles Groß geschrieben, temporär

'LOVELACE'

In [40]:
name.upper

In [41]:
name.count("e")

2

In [42]:
name.count("ov")

1

In [47]:
name.replace("lace" , " is everywhere ")

'LoveLace'

In [50]:
name.replace("Lace", " is everywhere")

'Love is everywhere'

## Listen und Dictionaries

In [51]:
# Listen
names = ["Lovelace", "Darwin", "Currie", "Hawking"]

In [52]:
names

['Lovelace', 'Darwin', 'Currie', 'Hawking']

In [53]:
names[1]

'Darwin'

In [54]:
names[0]

'Lovelace'

In [55]:
names[-1]

'Hawking'

In [56]:
names[0:2]

['Lovelace', 'Darwin']

In [57]:
names[2:4]

['Currie', 'Hawking']

In [60]:
# Dictionary (Schlüssel-Werte-Paare)
authors_and_birth_years = {"Loveloace" : 1815, 
                           "Darwin" : 1809, 
                           "Noether" : 1882}

In [61]:
authors_and_birth_years["Darwin"]

1809

## for-loops (for-Schleifen)

In [62]:
for person in names: 
    print(person + " did awesom stuff.")

Lovelace did awesom stuff.
Darwin did awesom stuff.
Currie did awesom stuff.
Hawking did awesom stuff.

In [63]:
Season = "Summer"

In [64]:
print(Season)

Summer

In [65]:
%who

Season	 age	 authors_and_birth_years	 first_name	 knows_math	 likes_garddening	 likes_gardening	 nam_of_articles	 name
name_of_articles	 names	 person	 size

In [66]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## Conditional (Bedingte Anweisungen)

In [67]:
20 > 10

True

In [68]:
20 < 10

False

In [69]:
temp = 20
if temp > 15: 
    print("It's warm.")

It's warm.

In [70]:
temp = 10
if temp > 15: 
    print("It's warm.")

In [71]:
temp = 10
if temp > 15: 
    print("It's warm.")
else:
    print("It's cold.")

It's cold.

In [72]:
temp = 15
if temp > 15: 
    print("It's warm.")
else:
    print("It's cold.")

It's cold.

In [73]:
temp = 10
if temp >= 15: 
    print("It's warm.")
else:
    print("It's cold.")

It's cold.

In [74]:
temp = 15
if temp >= 15: 
    print("It's warm.")
else:
    print("It's cold.")

It's warm.

In [75]:
import os 

print(os.path.abspath(os.getcwd()))

/Users/catharinaziegler